.mediaViewInfo {
	--web-view-name: 056;
	--web-view-id: ID056;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID056;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ID056 {
	position: absolute;
	width: 1366px;
	height: 4734px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 056;
	--web-view-id: ID056;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#topjpg {
	position: absolute;
	width: 1372.13px;
	height: 4735px;
	left: -6px;
	top: 0px;
	overflow: visible;
}
# {
	position: absolute;
	width: 1366px;
	height: 4735px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ID01 {
	position: absolute;
	width: 1366px;
	height: 4735px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_1 {
	fill: rgba(255,255,255,1);
}
._1 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 4735px;
	left: 0px;
	top: 0px;
}
#_4 {
	position: absolute;
	width: 1366px;
	height: 768.39px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_4_l {
	fill: rgba(0,79,144,1);
}
._4_l {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 768.39px;
	left: 0px;
	top: 0px;
}
#Clip {
	position: absolute;
	width: 1366px;
	height: 768.39px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_834_o {
	opacity: 0.2;
	fill: url(#_834_o);
}
._834_o {
	mix-blend-mode: multiply;
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 768.39px;
	left: 0px;
	top: 0px;
}
#_p {
	position: absolute;
	width: 1043px;
	height: 355px;
	left: 164px;
	top: 214px;
	overflow: visible;
}
#_q {
	position: absolute;
	width: 806px;
	height: 237.001px;
	left: 125px;
	top: 59px;
	display: none;
	overflow: visible;
}
#_r {
	position: absolute;
	width: 806px;
	height: 237px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_18 {
	position: absolute;
	width: 806px;
	height: 237px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay {
	fill: rgba(255,255,255,1);
}
.Color_Overlay {
	overflow: visible;
	position: absolute;
	width: 806px;
	height: 237.001px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_u {
	position: absolute;
	width: 843px;
	height: 230px;
	left: 97px;
	top: 60px;
	display: none;
	overflow: visible;
}
#_v {
	position: absolute;
	width: 843px;
	height: 230px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_18_w {
	position: absolute;
	width: 843px;
	height: 230px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_x {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_x {
	overflow: visible;
	position: absolute;
	width: 843px;
	height: 230px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_ {
	position: absolute;
	width: 901.565px;
	height: 566.606px;
	left: 91.689px;
	top: -77.208px;
	display: none;
	overflow: visible;
}
#__z {
	transform: translate(-255.689px, -136.792px) matrix(1,0,0,1,274.7264,171.5757) rotate(-4.734deg);
	transform-origin: center;
	position: absolute;
	width: 863.491px;
	height: 497.039px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_18_ {
	position: absolute;
	width: 901.565px;
	height: 566.606px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_ {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_ {
	overflow: visible;
	position: absolute;
	width: 901.565px;
	height: 566.606px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_ba {
	position: absolute;
	width: 878px;
	height: 284px;
	left: 80px;
	top: 28px;
	display: none;
	overflow: visible;
}
#_bb {
	position: absolute;
	width: 878px;
	height: 284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_20 {
	position: absolute;
	width: 878px;
	height: 284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_ba {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_ba {
	overflow: visible;
	position: absolute;
	width: 878px;
	height: 284px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_bc {
	position: absolute;
	width: 1043px;
	height: 355px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#__ {
	position: absolute;
	width: 921.242px;
	height: 286.164px;
	left: 58.379px;
	top: 25.406px;
	display: none;
	overflow: visible;
}
#__ba {
	transform: translate(-222.379px, -239.406px) matrix(1,0,0,1,226.9018,256.9952) rotate(-2.222deg);
	transform-origin: center;
	position: absolute;
	width: 912.197px;
	height: 250.986px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_515 {
	position: absolute;
	width: 921.242px;
	height: 286.164px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_bb {
	fill: rgba(0,0,0,1);
}
.Color_Overlay_bb {
	overflow: visible;
	position: absolute;
	width: 921.242px;
	height: 286.164px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_3 {
	position: absolute;
	width: 856.788px;
	height: 432.976px;
	left: 79.508px;
	top: -65.929px;
	display: none;
	overflow: visible;
}
#_3_bc {
	transform: translate(-243.508px, -148.071px) matrix(1,0,0,1,251.3102,165.0991) rotate(-2.343deg);
	transform-origin: center;
	position: absolute;
	width: 841.183px;
	height: 398.92px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_515_bg {
	position: absolute;
	width: 856.788px;
	height: 432.976px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Color_Overlay_be {
	fill: rgba(255,255,255,1);
}
.Color_Overlay_be {
	overflow: visible;
	position: absolute;
	width: 856.788px;
	height: 432.976px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_3_bf {
	transform: translate(-164px, -214px) matrix(1,0,0,1,251.3102,165.0991) rotate(-2.343deg);
	transform-origin: center;
	position: absolute;
	width: 841.183px;
	height: 398.92px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#_515_bg {
	position: absolute;
	width: 856.788px;
	height: 432.976px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#scroll {
	position: absolute;
	width: 76.84px;
	height: 145.99px;
	left: 644.58px;
	top: 670.21px;
	overflow: visible;
}
#_547 {
	fill: rgba(236,151,0,1);
}
._547 {
	position: absolute;
	overflow: visible;
	width: 76.84px;
	height: 22.2px;
	left: 0px;
	top: 0px;
}
#SCROLL_bj {
	left: 18.932px;
	top: 4.366px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 12.294000625610352px;
	margin-top: -1.0245003700256348px;
	text-align: center;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 10.244999885559082px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#_2 {
	fill: rgba(236,151,0,1);
}
._2 {
	display: none;
	position: absolute;
	overflow: visible;
	width: 10.24px;
	height: 10.24px;
	left: 33.3px;
	top: 30.74px;
}
#_2_bl {
	fill: transparent;
	stroke: rgba(236,151,0,1);
	stroke-width: 1.7074999809265137px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3.4149999618530273 3.4149999618530273;
	stroke-dashoffset: 0;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._2_bl {
	overflow: visible;
	position: absolute;
	width: 1.708px;
	height: 107.57px;
	left: 38.42px;
	top: 38.42px;
	transform: matrix(1,0,0,1,0,0);
}
#pagenation {
	position: absolute;
	width: 145.14px;
	height: 5.12px;
	left: 1168.78px;
	top: 712.04px;
	overflow: visible;
}
#_35 {
	opacity: 0.502;
	fill: rgba(255,255,255,1);
}
._35 {
	overflow: visible;
	position: absolute;
	width: 145.14px;
	height: 5.119px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_35_bo {
	fill: rgba(255,255,255,1);
}
._35_bo {
	position: absolute;
	overflow: visible;
	width: 42.69px;
	height: 5.12px;
	left: 102.45px;
	top: 0px;
}
#_bp {
	position: absolute;
	width: 1026px;
	height: 768px;
	left: 302px;
	top: 883px;
	overflow: visible;
}
#_bq {
	position: absolute;
	width: 726px;
	height: 574px;
	left: 300px;
	top: 194px;
	overflow: visible;
}
#_3_br {
	position: absolute;
	width: 726px;
	height: 574px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_50 {
	position: absolute;
	width: 1px;
	height: 1px;
	left: 1216px;
	top: -294px;
	overflow: visible;
}
#_bt {
	position: absolute;
	width: 765px;
	height: 367px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_841 {
	position: absolute;
	width: 18px;
	height: 265px;
	left: 737px;
	top: 4px;
	overflow: visible;
}
#_841_ {
	fill: rgba(236,151,0,1);
}
._841_ {
	position: absolute;
	overflow: visible;
	width: 12.81px;
	height: 337.24px;
	left: 282.84px;
	top: 25.41px;
}
#_841__2 {
	fill: rgba(236,151,0,1);
}
._841__2 {
	position: absolute;
	overflow: visible;
	width: 12.81px;
	height: 271.5px;
	left: 235.03px;
	top: 25.41px;
}
#_bx {
	position: absolute;
	width: 24px;
	height: 278px;
	left: 741px;
	top: 0px;
	overflow: visible;
}
#___ {
	position: absolute;
	width: 684px;
	height: 340px;
	left: 0px;
	top: 27px;
	overflow: visible;
}
#nav {
	position: absolute;
	width: 1366px;
	height: 85.38px;
	left: 6px;
	top: 0px;
	overflow: visible;
}
#_834_b {
	opacity: 0.2;
	fill: rgba(243,249,247,1);
}
._834_b {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 85.38px;
	left: 0px;
	top: 0px;
}
#_b {
	position: absolute;
	width: 82px;
	height: 20px;
	left: 293.528px;
	top: 39.85px;
	overflow: visible;
}
#RECRUIT_SITE {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 16.39235496520996px;
	margin-top: -1.3660273551940918px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 13.660300254821777px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#_ca {
	position: absolute;
	width: 537.783px;
	height: 34.15px;
	left: 759.917px;
	top: 25.61px;
	overflow: visible;
}
#MENU {
	left: 0px;
	top: 7.41px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	line-height: 16.39235496520996px;
	margin-top: -1.3660273551940918px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 13.660300254821777px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#MENU_b {
	left: 104.397px;
	top: 7.41px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	line-height: 16.39235496520996px;
	margin-top: -1.3660273551940918px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 13.660300254821777px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#MENU_ca {
	left: 208.612px;
	top: 7.41px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	line-height: 16.39235496520996px;
	margin-top: -1.3660273551940918px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 13.660300254821777px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#MENU_cb {
	left: 312.813px;
	top: 7.41px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	line-height: 16.39235496520996px;
	margin-top: -1.3660273551940918px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 13.660300254821777px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#_835 {
	fill: rgba(236,151,0,1);
}
._835 {
	position: absolute;
	overflow: visible;
	width: 119.58px;
	height: 34.15px;
	left: 418.203px;
	top: 0px;
}
#_cb {
	left: 452.045px;
	top: 9.703px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	line-height: 14.343311309814453px;
	margin-top: -1.1952757835388184px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952759742736816px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}
#ID01_ca {
	position: absolute;
	width: 1297.83px;
	height: 770.073px;
	left: 74.3px;
	top: 1646.394px;
	overflow: visible;
}
#ID70_16001120px {
	fill: rgba(236,151,0,1);
}
.ID70_16001120px {
	position: absolute;
	overflow: visible;
	width: 956.2px;
	height: 478.11px;
	left: 341.63px;
	top: 102.126px;
}
#ID01_cc {
	position: absolute;
	width: 600.204px;
	height: 444.265px;
	left: 0px;
	top: 257.506px;
	overflow: visible;
}
#_839 {
	position: absolute;
	width: 597.63px;
	height: 409.81px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_839_ce {
	fill: rgba(51,51,51,1);
}
._839_ce {
	position: absolute;
	overflow: visible;
	width: 597.63px;
	height: 409.81px;
	left: 0px;
	top: 0px;
}
#Clip_cf {
	position: absolute;
	width: 597.63px;
	height: 409.81px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_840 {
	fill: rgba(255,255,255,1);
}
._840 {
	overflow: visible;
	position: absolute;
	width: 307.35px;
	height: 68.3px;
	left: 0px;
	top: 341.51px;
	transform: matrix(1,0,0,1,0,0);
}
#_ch {
	left: 25.088px;
	top: 366.717px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_545 {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 3.4149999618530273px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545 {
	overflow: visible;
	position: absolute;
	width: 12.152px;
	height: 19.502px;
	left: 272.36px;
	top: 367.117px;
	transform: matrix(1,0,0,1,0,0);
}
#-_ {
	left: 353.204px;
	top: 427.265px;
	position: absolute;
	overflow: visible;
	width: 248px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: right;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.2px;
}
#ID02 {
	position: absolute;
	width: 598.501px;
	height: 444.267px;
	left: 631.77px;
	top: 325.806px;
	overflow: visible;
}
#_839_cl {
	position: absolute;
	width: 597.63px;
	height: 409.81px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_839_cm {
	fill: rgba(51,51,51,1);
}
._839_cm {
	position: absolute;
	overflow: visible;
	width: 597.63px;
	height: 409.81px;
	left: 0px;
	top: 0px;
}
#Clip_cn {
	position: absolute;
	width: 597.63px;
	height: 409.81px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_840_co {
	fill: rgba(51,51,51,1);
}
._840_co {
	overflow: visible;
	position: absolute;
	width: 247.59px;
	height: 68.3px;
	left: 0px;
	top: 341.51px;
	transform: matrix(1,0,0,1,0,0);
}
#_545_cp {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 3.4149999618530273px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_cp {
	overflow: visible;
	position: absolute;
	width: 12.152px;
	height: 19.502px;
	left: 219.433px;
	top: 367.118px;
	transform: matrix(1,0,0,1,0,0);
}
#_cq {
	left: 27.654px;
	top: 364.157px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#-__cr {
	left: 421.501px;
	top: 427.267px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: right;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.2px;
}
#MORE {
	left: 278.167px;
	top: 192.168px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#SPECIAL_CONTENTS_- {
	left: 136.457px;
	top: 16.36px;
	position: absolute;
	overflow: visible;
	width: 929px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 102.22737121582031px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_521 {
	position: absolute;
	width: 459px;
	height: 60px;
	left: 624.7px;
	top: 162.606px;
	overflow: visible;
}
#__cv {
	left: 136.302px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 322.452px;
	height: 33.581600189208984px;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.4px;
}
#ID02_cw {
	position: absolute;
	width: 1297.57px;
	height: 2064.505px;
	left: 6.13px;
	top: 2495.856px;
	overflow: visible;
}
#ID80_16001280px {
	fill: rgba(32,101,197,1);
}
.ID80_16001280px {
	position: absolute;
	overflow: visible;
	width: 1092.8px;
	height: 341.51px;
	left: 0px;
	top: 100.344px;
}
#ID01_cy {
	position: absolute;
	width: 387.608px;
	height: 308.222px;
	left: 68.17px;
	top: 252.424px;
	overflow: visible;
}
#_839_cz {
	fill: rgba(239,239,239,1);
}
._839_cz {
	position: absolute;
	overflow: visible;
	width: 386.75px;
	height: 273.21px;
	left: 0px;
	top: 0px;
}
#_840_c {
	fill: rgba(255,255,255,1);
}
._840_c {
	overflow: visible;
	position: absolute;
	width: 213.44px;
	height: 51.23px;
	left: 0px;
	top: 221.98px;
	transform: matrix(1,0,0,1,0,0);
}
#_545_c {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 3.4149999618530273px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_c {
	overflow: visible;
	position: absolute;
	width: 12.152px;
	height: 19.502px;
	left: 181.863px;
	top: 239.049px;
	transform: matrix(1,0,0,1,0,0);
}
#_c {
	left: 43.016px;
	top: 237.131px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#-__c {
	left: 321.608px;
	top: 290.222px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.2px;
}
#ID02_c {
	position: absolute;
	width: 388.192px;
	height: 306.421px;
	left: 489.92px;
	top: 286.574px;
	overflow: visible;
}
#_839_c {
	position: absolute;
	width: 386.75px;
	height: 273.21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_839_da {
	fill: rgba(98,98,98,1);
}
._839_da {
	position: absolute;
	overflow: visible;
	width: 386.75px;
	height: 273.21px;
	left: 0px;
	top: 0px;
}
#Clip_c {
	position: absolute;
	width: 386.75px;
	height: 273.21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_840_da {
	fill: rgba(255,255,255,1);
}
._840_da {
	overflow: visible;
	position: absolute;
	width: 221.97px;
	height: 51.23px;
	left: 0px;
	top: 221.98px;
	transform: matrix(1,0,0,1,0,0);
}
#_545_da {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 3.4149999618530273px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_da {
	overflow: visible;
	position: absolute;
	width: 12.152px;
	height: 19.502px;
	left: 185.28px;
	top: 239.049px;
	transform: matrix(1,0,0,1,0,0);
}
#_da {
	left: 60.094px;
	top: 237.132px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#-__db {
	left: 322.192px;
	top: 288.421px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(153,153,153,1);
	letter-spacing: 0.2px;
}
#ID03 {
	position: absolute;
	width: 386.75px;
	height: 273.21px;
	left: 910.82px;
	top: 320.724px;
	overflow: visible;
}
#_839_dd {
	fill: rgba(239,239,239,1);
}
._839_dd {
	position: absolute;
	overflow: visible;
	width: 386.75px;
	height: 273.21px;
	left: 0px;
	top: 0px;
}
#_840_de {
	fill: rgba(255,255,255,1);
}
._840_de {
	overflow: visible;
	position: absolute;
	width: 256.13px;
	height: 51.23px;
	left: 0px;
	top: 221.98px;
	transform: matrix(1,0,0,1,0,0);
}
#_545_df {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 3.4149999618530273px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_df {
	overflow: visible;
	position: absolute;
	width: 12.152px;
	height: 19.502px;
	left: 220.283px;
	top: 239.05px;
	transform: matrix(1,0,0,1,0,0);
}
#_dg {
	left: 77.168px;
	top: 237.133px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_520 {
	position: absolute;
	width: 584px;
	height: 59px;
	left: 204.87px;
	top: 158.144px;
	overflow: visible;
}
#COMPANY_- {
	left: 659.203px;
	top: 12.98px;
	position: absolute;
	overflow: visible;
	width: 505px;
	white-space: nowrap;
	text-align: right;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 102.45221710205078px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.4px;
}
#_dj {
	left: 839.662px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 322.452px;
	height: 33.581600189208984px;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: right;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.4px;
}
#LOGO {
	left: 956.267px;
	top: 2018.505px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 36.88199996948242px;
	margin-top: -3.0734996795654297px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 30.735000610351562px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#LOGO_dl {
	left: 1163.728px;
	top: 2018.505px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 36.88199996948242px;
	margin-top: -3.0734996795654297px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 30.735000610351562px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#ID03_dm {
	position: absolute;
	width: 1297.7px;
	height: 586.214px;
	left: 74.3px;
	top: 3173.786px;
	overflow: visible;
}
#ID70_16001120px_dn {
	fill: rgba(236,151,0,1);
}
.ID70_16001120px_dn {
	position: absolute;
	overflow: visible;
	width: 956.2px;
	height: 341.51px;
	left: 341.5px;
	top: 97.004px;
}
#ID01_do {
	position: absolute;
	width: 597.63px;
	height: 273.21px;
	left: 0px;
	top: 261.774px;
	overflow: visible;
}
#_839_dp {
	position: absolute;
	width: 597.63px;
	height: 273.21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_839_dq {
	fill: rgba(51,51,51,1);
}
._839_dq {
	position: absolute;
	overflow: visible;
	width: 597.63px;
	height: 273.21px;
	left: 0px;
	top: 0px;
}
#Clip_dr {
	position: absolute;
	width: 597.63px;
	height: 273.21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_840_ds {
	fill: rgba(255,255,255,1);
}
._840_ds {
	overflow: visible;
	position: absolute;
	width: 290.28px;
	height: 68.3px;
	left: 0px;
	top: 204.91px;
	transform: matrix(1,0,0,1,0,0);
}
#_dt {
	left: 25.088px;
	top: 228.407px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_545_du {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 3.4149999618530273px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_du {
	overflow: visible;
	position: absolute;
	width: 12.152px;
	height: 19.502px;
	left: 238.21px;
	top: 230.515px;
	transform: matrix(1,0,0,1,0,0);
}
#ID02_dv {
	position: absolute;
	width: 597.63px;
	height: 273.21px;
	left: 631.77px;
	top: 313.004px;
	overflow: visible;
}
#_839_dw {
	position: absolute;
	width: 597.63px;
	height: 273.21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_839_dx {
	fill: rgba(51,51,51,1);
}
._839_dx {
	position: absolute;
	overflow: visible;
	width: 597.63px;
	height: 273.21px;
	left: 0px;
	top: 0px;
}
#Clip_dy {
	position: absolute;
	width: 597.63px;
	height: 273.21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#_840_dz {
	fill: rgba(255,255,255,1);
}
._840_dz {
	overflow: visible;
	position: absolute;
	width: 247.59px;
	height: 68.3px;
	left: 0px;
	top: 204.9px;
	transform: matrix(1,0,0,1,0,0);
}
#_545_d {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 3.4149999618530273px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_d {
	overflow: visible;
	position: absolute;
	width: 12.152px;
	height: 19.502px;
	left: 200.271px;
	top: 230.51px;
	transform: matrix(1,0,0,1,0,0);
}
#_d {
	left: 25.093px;
	top: 228.403px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#WORK_- {
	left: 136.457px;
	top: 16.36px;
	position: absolute;
	overflow: visible;
	width: 300px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 102.22737121582031px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_557 {
	position: absolute;
	width: 532px;
	height: 63px;
	left: 560.7px;
	top: 160.214px;
	overflow: visible;
}
#_ea {
	left: 136.302px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 322.452px;
	height: 33.581600189208984px;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.4px;
}
#ID04 {
	position: absolute;
	width: 1366px;
	height: 455.578px;
	left: 6px;
	top: 3827.772px;
	overflow: visible;
}
#ID80_16001280px_d {
	position: absolute;
	width: 1366px;
	height: 358.58px;
	left: 0px;
	top: 96.998px;
	overflow: visible;
}
#ID80_16001280px_ea {
	fill: rgba(34,138,229,1);
}
.ID80_16001280px_ea {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 358.58px;
	left: 0px;
	top: 0px;
}
#Clip_d {
	position: absolute;
	width: 1366px;
	height: 358.58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#RECRUIT_- {
	left: 204.757px;
	top: 16.361px;
	position: absolute;
	overflow: visible;
	width: 402px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 102.22737121582031px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_643 {
	position: absolute;
	width: 517px;
	height: 47px;
	left: 645px;
	top: 166.228px;
	overflow: visible;
}
#_54 {
	position: absolute;
	width: 469.56px;
	height: 85.38px;
	left: 204.9px;
	top: 263.488px;
	overflow: visible;
}
#_840_ec {
	fill: rgba(255,255,255,1);
}
._840_ec {
	overflow: visible;
	position: absolute;
	width: 469.56px;
	height: 85.38px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_545_ed {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 3.4149999618530273px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_ed {
	overflow: visible;
	position: absolute;
	width: 12.152px;
	height: 19.502px;
	left: 435.427px;
	top: 34.142px;
	transform: matrix(1,0,0,1,0,0);
}
#_ee {
	left: 71.19px;
	top: 32.225px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_636 {
	position: absolute;
	width: 26px;
	height: 26px;
	left: 28.1px;
	top: 29.74px;
	overflow: visible;
}
#_54_eg {
	position: absolute;
	width: 469.56px;
	height: 85.38px;
	left: 691.54px;
	top: 263.488px;
	overflow: visible;
}
#_840_eh {
	fill: rgba(255,255,255,1);
}
._840_eh {
	overflow: visible;
	position: absolute;
	width: 469.56px;
	height: 85.38px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_545_ei {
	fill: rgba(0,0,0,0);
	stroke: rgba(51,51,51,1);
	stroke-width: 3.4149999618530273px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 100;
	shape-rendering: auto;
}
._545_ei {
	overflow: visible;
	position: absolute;
	width: 12.151px;
	height: 19.502px;
	left: 435.424px;
	top: 34.142px;
	transform: matrix(1,0,0,1,0,0);
}
#FAQ {
	left: 71.188px;
	top: 32.225px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	line-height: 20.489999771118164px;
	margin-top: -1.7074995040893555px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 17.075000762939453px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.2px;
}
#_582 {
	position: absolute;
	width: 27px;
	height: 26px;
	left: 27.46px;
	top: 29.74px;
	overflow: visible;
}
#_el {
	left: 204.602px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 322.452px;
	height: 33.581600189208984px;
	line-height: 16.392000198364258px;
	margin-top: -1.3660001754760742px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 13.65999984741211px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.4px;
}
#footer {
	position: absolute;
	width: 1366px;
	height: 1912.336px;
	left: 6px;
	top: 2822.664px;
	overflow: visible;
}
#_558 {
	fill: rgba(32,101,197,1);
}
._558 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 230.52px;
	left: 0px;
	top: 1613.516px;
}
#_55 {
	position: absolute;
	width: 1229.505px;
	height: 97.816px;
	left: 67.345px;
	top: 1678.412px;
	overflow: visible;
}
#_51 {
	position: absolute;
	width: 66.075px;
	height: 74.764px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MENU_eq {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 12.294000625610352px;
	margin-top: -1.0245003700256348px;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 10.244999885559082px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560 {
	fill: rgba(255,255,255,1);
}
._560 {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 1.805px;
	top: 40.974px;
}
#_es {
	left: 17.075px;
	top: 34.859px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_et {
	fill: rgba(255,255,255,1);
}
._560_et {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 1.805px;
	top: 64.874px;
}
#_eu {
	left: 17.075px;
	top: 58.764px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_51_ev {
	position: absolute;
	width: 66.075px;
	height: 97.816px;
	left: 207.461px;
	top: 0px;
	overflow: visible;
}
#MENU_ew {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 12.294000625610352px;
	margin-top: -1.0245003700256348px;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 10.244999885559082px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_ex {
	fill: rgba(255,255,255,1);
}
._560_ex {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 1.804px;
	top: 40.974px;
}
#_ey {
	left: 17.075px;
	top: 34.859px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_ez {
	fill: rgba(255,255,255,1);
}
._560_ez {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 1.804px;
	top: 64.874px;
}
#_e {
	left: 17.075px;
	top: 58.764px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_e {
	fill: rgba(255,255,255,1);
}
._560_e {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 1.804px;
	top: 87.934px;
}
#_fa {
	left: 17.075px;
	top: 81.816px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_51_e {
	position: absolute;
	width: 66.075px;
	height: 74.764px;
	left: 414.923px;
	top: 0px;
	overflow: visible;
}
#MENU_e {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 12.294000625610352px;
	margin-top: -1.0245003700256348px;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 10.244999885559082px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_fa {
	fill: rgba(255,255,255,1);
}
._560_fa {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 1.812px;
	top: 40.974px;
}
#_fb {
	left: 17.075px;
	top: 34.859px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_fb {
	fill: rgba(255,255,255,1);
}
._560_fb {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 1.812px;
	top: 64.874px;
}
#_fc {
	left: 17.075px;
	top: 58.764px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_51_fa {
	position: absolute;
	width: 66.075px;
	height: 74.764px;
	left: 623.238px;
	top: 0px;
	overflow: visible;
}
#MENU_fa {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	line-height: 12.294000625610352px;
	margin-top: -1.0245003700256348px;
	text-align: left;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 10.244999885559082px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_fc {
	fill: rgba(255,255,255,1);
}
._560_fc {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 1.807px;
	top: 40.974px;
}
#_fd {
	left: 17.075px;
	top: 34.859px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_560_fd {
	fill: rgba(255,255,255,1);
}
._560_fd {
	position: absolute;
	overflow: visible;
	width: 6.83px;
	height: 1.71px;
	left: 1.807px;
	top: 64.874px;
}
#_fe {
	left: 17.075px;
	top: 58.764px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_51_ff {
	position: absolute;
	width: 291.637px;
	height: 91.375px;
	left: 831.655px;
	top: 2.554px;
	overflow: visible;
}
#_564 {
	fill: rgba(255,255,255,1);
}
._564 {
	overflow: visible;
	position: absolute;
	width: 190.39px;
	height: 68.3px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_fh {
	left: 206.637px;
	top: 75.375px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#_51_fi {
	position: absolute;
	width: 398.675px;
	height: 91.375px;
	left: 830.83px;
	top: 2.554px;
	overflow: visible;
}
#_564_fj {
	fill: rgba(255,255,255,1);
}
._564_fj {
	overflow: visible;
	position: absolute;
	width: 190.39px;
	height: 68.3px;
	left: 208.285px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_fk {
	left: 0px;
	top: 75.375px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	line-height: 14.343001365661621px;
	margin-top: -1.1952505111694336px;
	text-align: left;
	font-family: YuGothic-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 11.952500343322754px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#copyright {
	position: absolute;
	width: 1366px;
	height: 68.3px;
	left: 0px;
	top: 1844.036px;
	overflow: visible;
}
#_577 {
	fill: rgba(31,91,173,1);
}
._577 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 68.3px;
	left: 0px;
	top: 0px;
}
#ID0000_SAMPLE_Inc_All_Rights_R {
	left: 578.385px;
	top: 27.714px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	line-height: 12.294000625610352px;
	margin-top: -1.0245003700256348px;
	text-align: center;
	font-family: YuGothic-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 10.244999885559082px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#gotop {
	position: absolute;
	width: 1366px;
	height: 68.3px;
	left: 0px;
	top: 1545.216px;
	overflow: visible;
}
#_584 {
	fill: rgba(255,255,255,1);
}
._584 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 68.3px;
	left: 0px;
	top: 0px;
}
#_582_fq {
	fill: rgba(32,101,197,1);
}
._582_fq {
	position: absolute;
	overflow: visible;
	width: 1.71px;
	height: 25.61px;
	left: 682.15px;
	top: 42.69px;
}
#GO_TOP {
	left: 662.512px;
	top: 23.15px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 12.294000625610352px;
	margin-top: -1.0245003700256348px;
	text-align: center;
	font-family: Oswald-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 10.244999885559082px;
	color: rgba(32,101,197,1);
	letter-spacing: 1px;
}
#LOGO_fs {
	left: 160.702px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 190px;
	white-space: nowrap;
	line-height: 98.35200500488281px;
	margin-top: -8.196002960205078px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 81.95999908447266px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#LOGO_ft {
	left: 1003.353px;
	top: 68.301px;
	position: absolute;
	overflow: visible;
	width: 190px;
	white-space: nowrap;
	line-height: 98.35200500488281px;
	margin-top: -8.196002960205078px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 81.95999908447266px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#LOGO_fu {
	left: 208.536px;
	top: 19.27px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 36.88199996948242px;
	margin-top: -3.0734996795654297px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 30.735000610351562px;
	color: rgba(243,249,247,1);
	letter-spacing: 1px;
}